@font-face {
  font-family: 'CustomFont';
  src: url('../assets/fonts/Micuale-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.custom-font {
  font-family: 'CustomFont', sans-serif;
}

.app-body{
  font-family: sans-serif;
  font-weight: 700;
  background-color: #F9FBFF;
}
.shade{
  background-color: #BDBEC0;
}
.secondary-color{
  background-color: #F2F4F7;
}

.button-color{
  background-color: #EBF9DC;
}

.video {
  aspect-ratio: 16 / 9;
}